.card {
  width: 20rem;
  border-radius: 10px;
  min-height: 23rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

.card img {
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card .cardBody {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../../public/video-game-controllers-grey-background_392895-254463.avif");
  background-size: cover;

}

.card .cardTitle {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: white;
}

.card .cardSubtitle {
  font-size: 0.9rem;
  color: white;
  font-weight: bold;
}

.cardText {
  font-weight: bold;
  color: white;
  background-color: red;
  border-radius: 12px;
  padding: 6px;
  display: flex;
  align-items: center;
  margin-right: -10px;
}

.card .btnPrimary {
  background-color: #007bff;
  border: none;
  padding: 8px 15px;
  font-size: 0.9rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-left: -5px;
  margin-bottom: -10px;
  font-weight: bold;
}

.card .btnPrimary:hover {
  background-color: #0056b3;
  
}

