@import '~bootstrap/scss/bootstrap';

 #header {
  background-color:  	#404040 !important;
 }

 #footer {
  background-color: 		#404040 !important;
 }

 #table {
  background-color: 		#000000 !important;
 }