body{
  background-color: rgba(104, 60, 4, 0.575) !important;
}

.underline-text{
  text-decoration: underline !important;
}

#footer {
  background-color: rgb(209, 33, 33) ;
}

#header {
  background-color:rgb(209, 33, 33)  ;
}

#rating {
  position: absolute;
  top: 8px;
  right: 0px;
  padding: 20px;
  font-size: 20px;
}

#logo{
  cursor: pointer;
}

#logo:hover {
  color: black; 
} 