body{
  background-color: rgba(104, 60, 4, 0.575) !important;
}

.underline-text{
  text-decoration: underline !important;
}

#footer {
  background-color: rgb(209, 33, 33) ;
}

#header {
  background-color:rgb(209, 33, 33)  ;
}